---
name: markdown-lint
on:
  push:
jobs:
  markdown-lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@9b4c13b0bfa31b4514c14f74b5a166c2708f43c6
      - uses: articulate/actions-markdownlint@v1
