# SPDX-FileCopyrightText: Copyright (c) 2021-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: test
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          cmd: latexmk
          path: .
          opts: -pdf test
          debs: fonts-noto-core fonts-noto-extra
          packages: |
            ffcode fvextra catchfile xstring framed environ upquote listings
